h2 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

body {
  background-color: #01687b;
}

.heading {
  background-color: #01687b;
  /* border-bottom: solid white 1px; */
  padding: 20px 0;
  margin: auto auto 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.news-link:hover {
  color: #CCCCCC;
}

@media screen and (max-width: 782px) {
  .news-link {
    text-align: center;
    padding: 0 5%;
    font-weight: bold;
    font-size: 1.5em;
  }

  .news-link > a:hover, .news-link > a:active {
    color: #CCCCCC;
  }
}

.column-1 {
  margin-right: 20px;
}

.column-2 {
  text-align: left;
  margin: auto 0;
}

.box {
    display: block;
    text-align: center;
    padding: 10px 0 40px;
}

iframe {
  border: none;
  border-radius: 10px;
}

.news {
  margin: 0 50px;
}

.all-news-links {
  border: solid white 1px;
  border-bottom-width: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 40px;
  background-color: #023f4a;
  background-image: radial-gradient(black, #023f4a);
}

@media screen and (min-width: 783px) {
  .news-link {
    padding-left: 5%;
    font-weight: bold;
    font-size: 1.5em;
  }
}
