.circle-number {
  text-align: center;
  /* margin: 10% 0 10% 41.5%; */
  margin: auto;
  padding-left: 5%;
}

.row {
  padding: 2%;
}

.top-heading {
  padding: 5%;
  text-align: center;
}

h1 {
  color: #FFD8B7;
}

.icons {
  text-align: right;
}

.description-container {
  margin: 2% 0;
}

/* smaller screen sizes */

@media screen and (max-width: 768px) {
  .icons {
    text-align: center;
  }

  .description-container {
    text-align: center;
    margin-top: 0;
  }
}

.footer-left {
  text-align: center;
  margin: auto;
}

.footer-u {
  text-decoration: underline;
}

.footer-u:hover, .footer-u:focus {
  color: #CCCCCC;
}

.footer {
  padding: 3% 5%;
}

.fas {
  padding: 10% 5%;
}

h3 {
  padding: 3% 0;
  font-size: 1.5em;
}

.number {
  color: #01687B;
  font-size: 5em;
}

p {
  margin-bottom: 0;
}

.container-outside {
  background-color: #FFFFFF;
  padding: 2.6%;
  border-radius: 8px;
}

.container-inside {
  background-color: #01687B;
  border-radius: 8px;
  /* padding: 2% 0; */
}

.safety-body {
  padding: 0 5%;
}

.main-word-container {
  margin: auto;
  padding: 5px 0;
}

.main-word-container-bh {
  padding-right: 0;
  margin: auto;
}

.mw-bh {
  font-size: 1.8em;
}

.main-word {
  text-align: center;
  margin: auto 0;
}

hr {
  margin: 0;
  border: 0;
  height: 22px;
  background-color: #023F4A;
  width: 210%;
  margin-left: -100%;
}
