a {
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #023f4a;
}

@media screen and (min-width: 768px) {
  nav {
    border-bottom: solid 1px white;
    height: 80px;
  }
}

.navbar-toggler {
  border: 0;
  margin: 1px;
}

.brand-text {
  padding-left: 30px;
}

.logo {
  height: 50px;
  width: 54.17px;
  border-radius: 10%;
}

.navbar {
  background-color: #023f4a;
  padding-left: 30px;
  padding-right: 40px;
  color: white;
}

@media screen and (max-width: 767px) {
  .logo {
    height: 40px;
    width: 43.33px;
  }

  .navbar-brand {
    padding: 4px 80px 4px 20px;
  }

  .navbar {
    padding: 14px 30px 14px 20px;
  }

  .brand-text {
    padding-left: 20px;
  }

  .navbar-collapse {
    padding-top: 10px;
  }
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    border: 1px solid white;
    margin: 0;
    outline: none;
    box-shadow: none;
}

.collapsed:active {
  border: 0;
}

.active {
  text-decoration: underline;
  color: #CCCCCC;
}

.nav-item {
  padding: 0 30px;
}

.navbar-brand {
  padding-left: 20px;
  padding-right: 80px;
  margin-right: 0;
  font-weight: 700;
  font-size: 1.5em;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #CCCCCC;
}

.brand-active:hover, .brand-active:focus {
  color: white;
}

.hamburger-menu {
  fill: white;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: #CCCCCC;
}

.active:hover , .active:focus {
  text-decoration: underline;
}
