.iphone-container {
  margin: auto;
  text-align: center;
}

.header-heading {
  margin: auto;
  text-align: left;
  padding-right: 150px;
}

.supplies-header-container {
  background-color: #589aa7;
  padding: 50px 0;
  background-image: radial-gradient(#589aa7, #023f4a);
}

.heading-el {
  padding: 30px;
}

.row {
  padding: 0 10px 40px 10px;
  margin: 0;
}

.card-body {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 50px 0;
  color: black;
}

.h2-container {
  text-align: center;
  background-color: #FFD8B7;
  margin: 5% 35% 5% 35%;
  border-radius: 50%;
}

.in-btwn {
  margin: 0;
  padding: 0;
  height: 2px;
  background-color: white;
}

.row {
  width: 100%;
}

.card-text {
  color: black;
}

h1 {
  font-size: 3em;
  margin: 0;
}

img {
  border-radius: 10px;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: white;
}

.hr-container {
  padding: 0 40px;
}

.after-header {
  margin: 0;
  border: 0;
  height: 2px;
  background-color: black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  .header-heading {
    text-align: center;
    padding: 0 20px;;
  }
}
